[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
